---
import { Image } from "astro:assets";
import Button from "../ui/Button.astro";
import Bullet from "../../assets/icons/Bullet.svg"

const {
    logo,
    tagline,
    copyright,
    quickLinks = [],
} = Astro.props
---

<footer class="max-w-7xl mx-auto py-24 max-md:py-20 ">

    <div class="flex max-md:flex-col max-md:gap-8 justify-between items-start">
        <div class="flex flex-col gap-2">
            <Image
                src={logo.src}
                alt={logo.alt}
            />

            <span class="md:max-w-lg text-desktop-small font-light">
                {tagline}
            </span>

        </div>
        

        <ul>
            {
                quickLinks.map((item:any) => (
                    <li class="text-desktop-body text-neutral">
                        <Button href={item.href} label={item.label} classes="hover:text-primary-blue cursor-pointer flex items-center gap-2"  iconPosition="left">
                            <Image
                                src={Bullet}
                                alt="Bullet"
                                slot={"icon"}
                                class="w-2 h-2"
                            />
                        </Button>
                    </li>
                ))
            }
        </ul>
    </div>

    <div class="mt-10">
        <hr class="text-neutral-5">

        <p class="block text-neutral-8 text-sm font-light text-center">** Do4You is not affiliated with VFS or Home Affairs. Services are for guidance and form assistance only. **</p>

        <div class="mt-6 flex max-sm:flex-col gap-2 justify-between items-center text-neutral-10 text-desktop-small font-light">
            <p>&copy {copyright}</p>
            <p class="">
                <Button href="/terms" label="Terms & Conditions" classes="hover:text-neutral-7 cursor-pointer"/>
                |
                <Button href="/privacy" label="Privacy Policy" classes="hover:text-neutral-7 cursor-pointer"/>
            </p>
        </div>
    </div>
    
</footer>