---
import { Image } from "astro:assets"
import Button from "../ui/Button.astro"

const {
    logo,
    navItems = [],
    cta = null,
} = Astro.props
---

<header id="header" class="max-w-7xl mx-auto py-6 flex justify-between items-center px-5 ">

    <div class="flex-1">
        <a href="/#">
            <Image
            src={logo.src}
            alt={logo.alt}
            />
        </a>
    </div>

  
    <nav class="flex justify-center items-center gap-10 max-md:hidden flex-1">
        {
            navItems.map((item:any) => (
                <Button 
                href={item.href} 
                label={item.label} 
                classes="text-neutral13 font-light uppercase hover:text-primary-blue"
                underlineAnimation="true"
                data-activeLink 
                />
            ))
        }
    </nav>


    <div class="flex-1 flex justify-end">
        <Button
        href={cta.href}
        label={cta.label}
        iconPosition="left"
        classes="rounded-lg px-5 py-3 flex justify-center items-center gap-2 bg-primary-blue text-surface max-md:hidden hover:bg-primary-blue-900"
        >
            {cta?.icon?.src && (
                <Image
                    src={cta.icon.src}
                    alt={cta.icon.alt ?? "icon"}
                    slot="icon"
                />
            )}

        </Button>
    </div>

    <div class="md:hidden">

        <button id="menu-btn" class="text-white">
            <Image
                id="menu-icon"
                src={cta?.menuIcon?.src}
                alt="menu"
                class="w-10 h-10 "
            />
            <Image
                id="close-icon"
                src={cta?.closeIcon?.src}
                alt="close"
                class="hidden w-6 h-6"
            />
        </button>


        <nav 
            id="mobile-menu"
            class="hidden bg-surface z-50 left-0 w-full h-screen absolute px-5 mt-2"
            >
            <ul class="mt-10 space-y-3">
                {
                navItems.map((item:any) => (
                    <a href={item.href} class="group uppercase">
                    <li class="py-3">
                        {item.label}
                    </li>
                    </a>
                ))
                }
                <li class="mt-5">
                    <Button
                        href={cta.href}
                        label={cta.label}
                        iconPosition="left"
                        classes="rounded-lg px-5 py-3 flex justify-center items-center gap-2 bg-primary-blue text-surface hover:bg-primary-blue-900"
                    >
                        {cta?.icon?.src && (
                        <Image
                            src={cta.icon.src}
                            alt={cta.icon.alt ?? "icon"}
                            slot="icon"
                        />
                        )}
                    </Button>
                </li>
            </ul>
        </nav>


    </div>

   

</header>

<script is:inline>

    const menuBtn = document.getElementById("menu-btn")
    const mobileMenu = document.getElementById("mobile-menu")
    const menuIcon = document.getElementById("menu-icon")
    const closeIcon = document.getElementById("close-icon")
    const header = document.getElementById("header")

    function toggleMobileMenu(show){
        if(show){
            // OPEN
            mobileMenu.classList.remove("hidden");

            menuIcon.classList.add("hidden");
            closeIcon.classList.remove("hidden");

            header.classList.add("bg-surface")

            document.body.classList.add("overflow-hidden")

        } else {
            
            mobileMenu.classList.add("hidden");

            menuIcon.classList.remove("hidden");
            closeIcon.classList.add("hidden");

            header.classList.remove("bg-surface")

            document.body.classList.remove("overflow-hidden")
        }
    }

    menuBtn.addEventListener("click", () => {
        const isHidden = mobileMenu.classList.contains("hidden");
            toggleMobileMenu(isHidden);
        } 
    )

    document.querySelectorAll("#mobile-menu a").forEach(link => {
        link.addEventListener("click", () => {
            toggleMobileMenu(false);
        })

        
    })

</script>