---
import "../styles/global.css"

import siteData from "../data/siteData.json"

import Header from "../components/chrome/Header.astro";
import { headerData, footerData } from "../data/layout.js";

import Footer from "../components/chrome/Footer.astro"
import SEO from "../components/seo/SEO.astro";

import Whatsapp from "../assets/icons/Whatsapp.svg";
import { whatsappData } from "../data/Whatsapp";

const {
	title = siteData.title,
	description = siteData.description,
	image = siteData.image
} = Astro.props;
---


<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>

		

		<SEO 
			{title}
			{description}
			url = {Astro.url}
			{image}
		/>
		
	</head>
	<body class="">

		<div id="navbar" class="fixed top-0 left-0 w-full z-50 transition duration-150">
			<Header {...headerData}/>
		</div>
		

			<main class="flex flex-col min-h-screen"> 
				<slot />
				<a
					href={whatsappData.link}
					target="_blank"
					rel="noopener noreferrer"
					aria-label="Chat with us on WhatsApp"
					class="fixed bottom-5 right-5 bg-green-400 text-white p-3 md:p-4 rounded-full shadow-lg hover:bg-green-600 transition duration-300 hover:scale-105 flex items-center justify-center md:bottom-10 md:right-10"
					>
					<Whatsapp />
				</a>
			</main>
		
		<div class="px-5">
			<Footer {...footerData}/>
		</div>

		<!-- header bg -->
		<script is:inline>
			const navbar = document.getElementById("navbar")

			window.addEventListener("scroll", () => {
				if(window.scrollY > 10){
					navbar.classList.add("bg-surface", "shadow-sm")
				}else{
					navbar.classList.remove("bg-surface", "shadow-sm")
				}
			})
		</script>
		
	</body>
</html>



